/* Hides ads */
#player-ads, ytd-ad-slot-renderer,
ytd-rich-item-renderer:has(
  > #content
    > ytd-ad-slot-renderer
){
  display: none;
}

/* Hides shorts */
/* NOTE: this didn't work. it just caused the search page to continually reload */
/* #items.ytd-grid-renderer>ytd-grid-video-renderer:has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) { */
/*   display: none; */
/* } */

/* ytd-item-section-renderer:not(:has(ytd-grid-renderer)):has(ytd-thumbnail-overlay-time-status-renderer[overlay-style="SHORTS"]) { */
/*   display: none; */
/* } */

/* Hides almost all elements in the hamburger menu */
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Shorts"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="You"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="History"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Your videos"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Your movies & TV"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Your courses"],
#endpoint.yt-simple-endpoint.ytd-guide-entry-renderer[title="Your podcasts"],
#sections.ytd-guide-renderer>ytd-guide-section-renderer.ytd-guide-renderer:not(:first-child),
#guide-links-primary.ytd-guide-renderer,
#guide-links-secondary.ytd-guide-renderer,
#footer.ytd-guide-renderer>#copyright {
    display: none !important;
}

/* Hides the "Your watch history is off" notice */
ytd-feed-nudge-renderer[nudge-style=modernized-nudge] {
    display: none !important;
}

/* Hides sidebar */
ytd-mini-guide-renderer {
  display: none !important;
}

/* Hides several header elements */
ytd-topbar-logo-renderer,
#voice-search-button.ytd-masthead,
#buttons.ytd-masthead>*.ytd-masthead:not(:last-child) {
    display: none !important;
}

/* Hides buttons beneath video */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[aria-label="Join this channel"],
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[title="Share"],
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[aria-label="Download"],
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[title="Show support with Super Thanks"],
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[title="Clip"],
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal[aria-label="More actions"] {
    display: none !important;
}

/* Hides recommended videos */
#container.yt-chip-cloud-renderer,
ytd-item-section-renderer.ytd-watch-next-secondary-results-renderer {
    display: none !important;
}
